@font-face {
  font-family: 'mono';
  font-weight: 100 800;
  font-style: normal;
  src: url(../../fonts/mono/mono.woff2) format("woff2");
}

pre {
  font-family: SFMono-Regular, "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", "Courier New", Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}

@supports (font-variation-settings: normal) {
  pre pre {
    font-family: "mono", SFMono-Regular, "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", "Courier New", Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

@supports (font-variation-settings: wdth) {
  pre pre {
    font-variation-settings: 'wdth' 90;
  }
}

@supports (font-variation-settings: wght) {
  pre pre {
    font-variation-settings: 'wght' 535;
  }
}
